<%include ls_header.html%>

    <div class="container">
      <form class="form-signin" role="form" method="post" action="session">
        <h2 class="form-signin-heading login_title">登录诺星</h2>
        <input type="email" name="username" class="form-control" placeholder="邮箱地址" required="" autofocus="">
        <input type="password" name="password" class="form-control" placeholder="密码" required="">
        <div class="checkbox">
          <label>
            <!-- <input type="checkbox" value="remember-me"> Remember me -->
            <a class="signup" href="signup">免费注册</a>
          </label>
        </div>
        <button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body>
</html>