<%include ls_header.html%>

    <div class="container">
      <form class="login_wrap" method="post" action="/signup">
        <div class="login_item">
          <label>邮箱</label><input type="email" name="email" placeholder="邮箱" class="form-control">
        </div>
        <div class="login_item">
           <label>密码</label><input type="password" name="password" placeholder="密码" class="form-control">
        </div>
        <div class="login_item">
          <label>确认密码</label><input type="password" name="password2" placeholder="确认密码" class="form-control">
        </div>
        <button class="btn btn-lg btn-warning btn-block signup_btn" type="submit">注册</button>
      </form>
      
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body>
</html>